* {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

html {
    background-image: url(hiker-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    top: 0;
    left: 0;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
}

main {
    padding-top: 25px;
    margin: 0 15% 0 15%;
}

h1,
h3 {
    text-shadow: 3px 3px 4px white;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin: 0px auto 20px auto;
}

label {
    display: block;
    margin-bottom: 18px;
}

input[type=text],
input[type=date],
button,
select {
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #3d3d3d;
    /* dark gray */
    border-radius: 5px;
    background-color: white;
}

input[type=text],
input[type=date],
{
    padding-left: 8px;
}

button {
    border: 0;
    background: #0895dd;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

button:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}

.search-result {
    margin-top: 15px;
}

.result {
    border: 1px solid #3d3d3d;
    /* dark gray */
    background-color: rgba(255, 255, 255, .7);
    border-radius: 5px;
    min-height: 50px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
}

.small:hover {
    background-color: rgba(232, 249, 236, 0.7);
}

.small p,
.small section {
    display: none;
}

.result-name {
    font-size: 20px;
    padding: 5px 0px 5px 0px;
}


.current-weather,
.hist-weather,
.forecast-weather,
.weather-details img {
    display: block;
    margin: 0 auto;
}

.current-weather {
    max-width: 200px;
}

.weather-details .trail-details {
    outline: solid #d3d3d3 1px;
    /*light gray*/
    border-radius: 5px;
}

.weather-details p {
    text-align: center;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}
