body {
  padding-top: 25px;
  margin: 0 15% 0 15%;
}

.result {
    border: 1px solid black;
    margin: 10px;
    height: 50px;
}

.result-name, .result-location {
	/*display: inline-block;*/
	float: left;
}

.result-name {
	width: 380px;
	background-color: pink;
}

.result-location {
	/*width: 200px;*/
	background-color: orange;
}

/*.result-state {
	width: 100px;
	background-color: yellow;
}*/

/*.small {
	background-color: blue;
}*/

.big {
	background-color: red;
}